$dark-primary-color: #1C1C1E;
$dark-secondary-color: #2C2C2E;
$dark-tertiary-color: #3A3A3C;
$dark-quaternary-color: #48484A;
$light-primary-color: #F2F2F7;
$light-secondary-color: #E5E5EA;
$light-tertiary-color: #D1D1D6;
$light-quaternary-color: #C7C7CC;
$accent-color: #0A84FF;

$primary-font-family: "Inter", sans-serif;

$title-font-size: 4rem;
$heading-font-size: 2rem;
$body-font-size: 1rem;
$caption-font-size: 0.75rem;

/*
 *
 *Reset
 *
 */

* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul li a:visited:not(.current) {
  color: inherit;
}

/*
 *
 * Dark/Light Mode
 *
 */

body {
  background-color: $dark-primary-color;
  color: $light-primary-color;
  font-family: $primary-font-family;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  // Invert SVG to Secondary colour
  filter: invert(87%) sepia(9%) saturate(1186%) hue-rotate(200deg) brightness(113%) contrast(93%);
}

.light-mode {
  background-color: $light-primary-color;
  color: $dark-primary-color;
}

.light-mode button {
  // Invert SVG to Primary colour
  filter: invert(6%) sepia(5%) saturate(898%) hue-rotate(201deg) brightness(96%) contrast(88%);
}

.light-mode nav {
  background-color: $light-primary-color;
}

.light-mode .card a {
  background-color: $light-secondary-color;
  color: $dark-primary-color;
}

.light-mode .post > blockquote {
  background-color: $light-secondary-color;
}

.light-mode .post > blockquote > blockquote {
  background-color: $light-tertiary-color;
}

.light-mode .post > blockquote > blockquote > blockquote{
  background-color: $light-quaternary-color;
}

.light-mode .post code {
  background-color: $light-secondary-color;
}

.light-mode .post pre {
  background-color: $light-secondary-color;
}

.light-mode .post hr {
  border: 1px solid $dark-primary-color;
}

.current {
  color: $accent-color;
  font-size: $body-font-size;
}

/*
 * Typography
 */

.title {
  font-size: $title-font-size;
}

.heading {
  font-size: $heading-font-size;
}

.body {
  font-size: $body-font-size;
}

.caption {
  font-size: $caption-font-size;
}

// Post

.post h2, .post h3, .post h4 {
  margin-top: 3rem;
}

.post blockquote {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.post > blockquote {
  background-color: $dark-secondary-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post > blockquote > blockquote {
  background-color: $dark-tertiary-color;
}

.post > blockquote > blockquote > blockquote {
  background-color: $dark-quaternary-color;
}

.post ol, .post ul {
  margin-left: 1rem;
}

.post > ol, .post > ul {
  padding-left: 1rem;
}

.post > ol {
  list-style: decimal;
}

.post ol > li > ol {
  list-style: lower-alpha;
}

.post ol > li > ol > li > ol {
  list-style: lower-roman;
}

.post ul {
  margin-left: 1rem;
  list-style: disc;
}

.post > ol, .post > ul {
  margin-top: 1rem;
}

.post hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid $light-secondary-color;
}

.post a {
  color: $accent-color;
}

.post img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.post code {
  background-color: $dark-secondary-color;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}

.post pre {
  background-color: $dark-secondary-color;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom:2rem;
}

p:not(.caption), .post li {
  line-height: 1.5rem;
}

/*
 *
 * Layout
 *
 */

//body {
//  position: fixed;
//}

.center {
  width: 60vw;
  margin: auto;
}

.icon-button {
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
}

#appearance-toggle {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  background-image: url(/assets/images/icons/appearance-icon.svg);
}

nav {
  padding-top: 4.9375rem;
  padding-bottom: 2rem;
  background-color: $dark-primary-color;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 20vw;
  width: 60vw;
}

nav ul {
  display: flex;
  margin-top: 2rem;
}

nav ul li:not(:first-child) {
  margin-left: 4rem;
}

.content {
  margin-top: 15rem;
  margin-bottom: 5rem;
}

#about {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#social-links {
  display: flex;
}

#social-links li {
  height: 2rem;
}

#social-links li:not(:first-child) {
  margin-left: 2rem;
}

#email-icon {
  background-image: url(/assets/images/icons/email-icon.svg);
}

#github-icon {
  background-image: url(/assets/images/icons/github-icon.svg);
}

#linkedin-icon {
  background-image: url(/assets/images/icons/linkedin-icon.svg);
}

.card a {
  margin-top: 1rem;
  display: flex;
  background-color: $dark-secondary-color;
  padding: 1rem;
  border-radius: 0.5rem;
  color: $light-primary-color;
}

.thumbnail {
  width: 14rem;
  height: 14rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.card-content {
  width: 100%;
}

.card-content .heading,
.post .heading {
  margin-bottom: 1rem;
}

.card-content .caption,
.post .caption {
  margin-bottom: 1rem;
}

.post .thumbnail {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post p:not(.post blockquote p, .caption) {
  margin-top: 1rem;
}

