<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
              rel="stylesheet">
    </head>
    <body>
        {% include navigation.html %}
        <div id="main-content">
            {{ content }}
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>